<form>
    <div class="container">
        <div class="form-row">

            <div class="form-group col-md-12">
                <label>Name</label>
                <input required maxlength="30" placeholder="Name" type="text" class="form-control" name="name" [(ngModel)]="tableData.name">
            </div>
            <div class="form-group col-md-12">
                <label>Rate</label>
                <input required maxlength="20" type="number" placeholder="Rate" class="form-control" name="rate" [(ngModel)]="tableData.rate">
            </div>
            <div class="form-group col-md-12">
                <label>Quantity</label>
                <input required maxlength="20" type="number" placeholder="Quantity" class="form-control" name="quantity" [(ngModel)]="tableData.quantity">
            </div>
            <div class="form-group col-md-12">
                <label>Basic Cost</label>
                <input disabled="true" maxlength="20" type="number" placeholder="Basic Cost" class="form-control" name="basicCost" [(ngModel)]="tableData.basicCost">
            </div>
            <div class="form-group col-md-12">
                <label>Discount(%)</label>
                <input required maxlength="20" type="number" placeholder="Discount(%)" class="form-control" name="discount" [(ngModel)]="tableData.discount">
            </div>
            <div class="form-group col-md-12">
                <label>Discount Amt</label>
                <input disabled="true" maxlength="20" type="number" placeholder="Discount Amt" class="form-control" name="discountAmt" [(ngModel)]="tableData.discountAmt">
            </div>
            <div class="form-group col-md-12">
                <label>Final Basic Cost</label>
                <input disabled="true" maxlength="20" type="number" placeholder="Final Basic Cost" class="form-control" name="finalBasicCost" [(ngModel)]="tableData.finalBasicCost">
            </div>

        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()" style="margin-right: 5px;">Submit</button>
        <button type="reset" class="btn btn-danger" (click)="onCancelAdd()">Cancel</button>
    </div>
</form>
